{% extends 'base.html.twig' %}


{% block body %}


    {{ parent() }}
    <a href="{{path('universidadmi_homepage')}}"><img class="ima" src="{{ asset('public/imagenes/flecha.png')}}" alt=""> </a>

    <div>
                    <div class="transparente">
                        <div class="margin-none" align="center">
                            <h2 class="padding-none">Listado</h2>
                        </div>
                        <div >
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido</th>

                                    <th>Carrera</th>
                                    <th>Unidad Curricular</th>
                                    <th>Grado de Instruccion</th>

                                </tr>
                                </thead>
                                {% for Datos in Datos %}
                                    <tbody>
                                    <tr class="active">
                                        <td>{{ Datos.nombre}}</td>
                                        <td>{{ Datos.apellido}}</td>

                                        <td>{{ Datos.carrera}}</td>
                                        <td>{{ Datos.unidadCurricular}}</td>
                                        <td>{{ Datos.gradoInstruccion }}</td>
                                    </tr>
                                    </tbody>


                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>





{% endblock %}
